body {
  margin: 0;
  background-color: color(white);
}

body,
.app {
  min-height: 100vh;
}

.app {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  background-color: color(white);
}

main {
  position: relative;
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: spacing(base);
  @include respond-to(large) {
    width: 80%;
  }
}

.container {
  max-width: breakpoint(full-size);
  padding: 0 spacing(base);
  margin: 0 auto;
}

.container-medium {
  max-width: breakpoint(large);
  padding: 0 spacing(base);
  margin: 0 auto;
}

img {
  vertical-align: bottom;
  width: 100%;
  height: auto;
  &[lazy="error"] {
    width: 50%;
  }
}

table {
  width: 100%;
  tbody {
    width: 100%;
  }
  th,
  td {
    padding: spacing(element) spacing(base);
  }
  th {
    background: color(black);
    color: color(white);
  }
  tr:nth-child(even) {
    td {
      background-color: color(light-gray);
    }
  }
}

.bullet-list, .number-list {
  padding-left: spacing(paragraph);
  margin-bottom: spacing(base);
  li {
    margin-left: spacing(paragraph);
    list-style-type: disc;
    margin-bottom: spacing(paragraph);
  }
}
.number-list {
  li {
    list-style-type: decimal;
  }
}

.opacity {
  opacity: 0;
  &.lazy-load-image-loaded {
    opacity: 1;
    transition: 0.3s opacity ease-in-out;
  }
}
